{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        {% for repository in repositories %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ repository.name }}</h5>
                    <a href="/repository/{{ repository.name }}" class=" stretched-link">View issues</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}