<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>elementary | Bounties</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-6">
                <div class="card" style="width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ repository.name }}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">repository.description</h6>
                        <ul class="list-group">
                            {% for issue in issues %}
                            <li class="list-group-item d-flex justify-content-between align-items-start">
                                <div class="ms-2 me-auto">
                                  {{issue.title}}
                                  <span class="text-secondary">#{{issue.number}}</span>
                                </div>
                                <span class="badge bg-primary rounded-pill">${{issue.cumulative_bounty}}</span>

                                <form action="/create-checkout-session" method="POST">
                                    <input type="hidden" id="repository_name" name="repository_name" value="{{ repository.name }}">
                                    <input type="hidden" id="number" name="number" value="{{issue.number}}">
                                    <button type="submit" class="btn btn-outline-primary btn-sm">bump it</button>
                                </form>
                              </li>
                            
                            
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>

    </div>



</body>

</html>